---
// src/components/report/Tabs.astro
---

<nav class="fte-report__tabs" role="tablist">
  <button class="fte-report__tab" data-tab="numeros" id="tab-numeros" role="tab" aria-selected="true" aria-controls="panel-numeros">
    <span class="fte-report__tab-num">01</span>Números
  </button>
  <button class="fte-report__tab" data-tab="graficos" id="tab-graficos" role="tab" aria-selected="false" aria-controls="panel-graficos">
    <span class="fte-report__tab-num">02</span>Gráficos
  </button>
  <button class="fte-report__tab" data-tab="infografico" id="tab-infografico" role="tab" aria-selected="false" aria-controls="panel-infografico">
    <span class="fte-report__tab-num">03</span>Infográfico
  </button>
</nav>
